<div class="Heading">
   <h1>Weekly Roster </h1> 
</div>
<div class="Onduty">
    <form action="/day" method="GET">
    <table>
  <thead>
    <tr>
      {{#each allSchedules}}
        <th>{{@key}}</th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    <tr>
      {{#each allSchedules}}
        <td>
          {{#each this}}
            {{this}}<br>
          {{/each}}
        </td>
      {{/each}}
    </tr>
  </tbody>
</table>

        </form>
    </div>

</div>
