<table>
  <thead>
    <tr>
      {{#each allSchedules}}
        <th>{{@key}}</th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    <tr>
      {{#each allSchedules}}
        <td>
          {{#each this}}
            {{this}}<br>
          {{/each}}
        </td>
      {{/each}}
    </tr>
    <tr>
      {{#each numberOfWaiters}}
        <td>{{this}}</td>
      {{/each}}
    </tr>
  </tbody>
</table>
