<div class="Heading">
   <h1>Weekly Roster </h1> 
</div>
<div class="key">
    <ul class="adminUl">
            <h3>Staffing status:</h3>

        <li>Green - There are enough waiters for the day</li>
        <li>Red - There are less than 3 waiters available for the day</li>
        <li>Orange - There are more than 5 waiters for the day</li>
    </ul>
</div>
<div class="Onduty">
    <div class="flash-success"></div>
<div class="flash-error"></div>
    <form action="/day" method="GET">
<table>
  <thead>
    <tr>
      {{#each allSchedules}}
        <th class="{{this.status}}">
          {{@key}}
        </th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    <tr>
      {{#each allSchedules}}
        <td>
          {{#each this.waiters}}
            {{this}}<br>
          {{/each}}
        </td>
      {{/each}}
    </tr>

  </tbody>
</table>
    </form>
</div>
<form action="reset" method="GET">
    <input type="submit" value="reset">
</form>