<div class="header">
<h1>Login to Schedule</h1>
</div>
<div class="input">
  <label for="name" id="name" class="input-name">Username</label>
        <input type="textboxt" name="name" class="input-name" placeholder="eg:Londeka" value="">
    <label for="password" id="password" class="password">Enter Password</label>
        <input type="password" name="password">
    <button name="signIn" class="signin" type="submit">Login</button>
</div>