<div class="heading"><h1>Weekly roster</h1></div>
<div class="instructions">
  <h3>To update your roster:</h3>
  <ul>
    <li>Access the schedule by typing your name on the URL:  <span>  .../waiters/yourName</span></li>
    <li>Select the days available by checking the checkbox and press submit</li>
    <li>Deselect the days if you wish to cancel availabilty and press submit</li>

  </ul>
</div>