<div class="view-schedule">
<form action="/waiters/{{username}}" method="GET">
<h1>Hi, {{username}} view and update your schedule here</h1>
  <button type="submit">View Schedule</button>
</form>
  <div class="schedule">
     <table>
        {{#each waiterSchedule}}
        <tr>
          <td>{{this.waiter_name}}</td>
          <td>{{this.day}}</td>
        </tr>
        {{/each}}
     </table>
  </div>
</div>