@import url('https://fonts.googleapis.com/css2?family=Peralta&display=swap');

*{box-sizing: border-box;
}

@keyframes float {
    0% { background-position: 0 0; }
    100% { background-position: 100% 100%; }
}

 body {
    background-image: url('./images/decor.jpg');
    background-size: contain;
    background-repeat:repeat;
    animation: float 5s linear infinite;
    padding: 5%;
    margin: 2%;
    font-family:'Peralta';
}

.container {
    margin-inline: 25%;
    margin-block: 20%;
    background-color:white;
    width:auto;
    height:auto;
    padding: 5%;
    margin: 2%;
    border: 4px solid lightyellow;
    border-radius: 10px;
    text-align: center;
    align-items: center;

}
.input{
    display:flex;
    flex-direction: column;
    width:20%;
    margin-inline: 40%;
}
.schedule{
    margin-inline: 40%;
}

table {
    border-collapse: collapse; 
}
th, td {
    border: 1px solid black;
    padding: 10px;
}
.green {
    background-color: green;
}
.red {
    background-color: red;
}
.orange {
    background-color: orange;
}


th{
    border: black solid 1px;
    padding: 10px;
    text-align: left;
}

td{
    border: black solid 1px;
}

 .waitersUl{
    list-style: none;
  }