@import url('https://fonts.googleapis.com/css2?family=Peralta&display=swap');

*{box-sizing: border-box;
}



 body {
    background-image: url('./images/decor.jpg');
    background-size: contain;
    background-repeat:repeat;
    padding: 5%;
    margin: 2%;
    font-family:'Peralta';
    width:100%;
}

.container {
    margin-inline: 25%;
    margin-block: 20%;
    background-color:white;
    width:100% ;
    height:auto;
    padding: 5%;
    margin: 2%;
    border: 4px solid lightyellow;
    border-radius: 10px;
    text-align: center;
    align-items: center;

}
.input{
    display:flex;
    flex-direction: column;
    width:20%;
    margin-inline: 40%;
}
.schedule{
    margin-inline: 40%;
}

table {
    border-collapse: collapse;
    margin-inline: auto; 
    width:900px;
}
th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center; 
}
.green {
    background-color: green;
}
.red {
    background-color: red;
}
.yellow {
    background-color: orange;
}
.navy{
    background-color: navy;
}

th{
    border: black solid 1px;
    padding: 10px;
    text-align: left;
}
li{
    display: inline-flex;
    margin: 1%;
}
span{
    color:red;
}
td{
    border: black solid 1px;
}

 .waitersUl, .adminUl{
    list-style: none;
  }
  .adminUl{
    border: transparent 1px;
    border-radius: 8px;
    display: inline-flex;
  }
.green-key{
    width:12%;
    height: 2vh;
    background-color: green;
    border:solid 1px black;
    margin-right: auto;

}
h6{
    background-color: beige;
    width:60%;
    margin-inline: 18%;
    color: navy;
}
.red-key{
    width:10%;
    height: 2vh;
    background-color: red;
    border:solid 1px black;
    margin-right: auto;
}
.orange-key{
    width:10%;
    height: 2vh;
    background-color:orange;
    border:solid 1px black;
    margin-right: auto;
}
.key{
    background-color: whitesmoke;
    margin: 1%;
    padding: 1%;
    width:70%;
    margin-inline: 15%;
    border: solid white 1px;
    border-radius: 10px;
}
  input[type="submit"] {
    background-color: #4CAF50;
    border: 2px solid black;
    border-radius:10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
}

.flash-success{
    color:green;
}
.flash-error{
    color:red;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
/********** SMALL SCREENS *********/
@media only screen and (max-width: 34em) {
    .container {
    width: 100%; 
     
   }
 table{
    max-width: 50%;
 }
 th,td{
    border: black solid 1px;
    padding: 10px;
    text-align: left;
    max-width: 50%;
}
}
  /****MEDIUM SCREENS***/
  
  @media only screen and (min-width: 35em) {
    .container {
        width: 80%;
    }
    table{
        /* max-width: 50%; */
     }
     th,td{
        border: black solid 1px;
        padding: 10px;
        text-align: left;
        /* max-width: 50%; */
    }

 
}
  
  /*** LARGE SCREENS***/
  @media only screen and (min-width: 55em) {
    .container {
        width: 85%;
       
    }
  }
